// // Place all the styles related to the Store controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
@mixin transition($params){
	-moz-transition: $params;
	-webkit-transition: $params;
	-ms-transition: $params;
	-o-transition: $params;
	transition: $params;
}

/* SLIDER */
.slider{
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	max-height:330px;
	.h3{
		color: #333;
	}
}

.bx-wrapper{
 	margin: 0px auto; 
 	
 	img {
 		width: 100%;
 	} 

 .bx-viewport {
  	max-height: 350px!important;
  	top: 0;
 		left: 0;
	}

 	ul.bxslider {
 		list-style: none;
 		li{
 			right: 0px;
 			
 			div.bx-caption{
 				bottom:8px;
	 			span{
					font-size: 1em;
	 			}
	 		}
 		}
 	}
}
/* End Slider*/

// .slide-content, .main-content{
// 	height: 100%;
// 	width: 100%;
// 	display: table;
// }