<% if line_item == @current_item %>
	<li id="current_item">
<% else %>
	<li> 
<% end %>
			<%= link_to (store_path) do %>
				<b><%= line_item.product.title %></b>
				<span><%= line_item.quantity %> &times; <%=number_to_currency(line_item.total_price)%></span>
			<% end %>
	</li>