<% content_for :carousel do %>
	<div class="slide-content">
		<div class="row">	
			<div class="col-lg-9 col-md-12">
				<%= render 'store/carousel' %>
			</div>
			<div class="col-lg-3">
				<%= image_tag "http://placehold.it/280x360", class:"img-thumbnail img-responsive"%>
			</div>
		</div>
	</div>
<% end %>

	<%= render 'main_content' %>

